{% extends "layout.html" %}
{% block title %}Alunite{% endblock %}
{% block page %}Alumnite{% endblock %}

{{ super() }}

{% block content %}

<div class="header">
    <img src="logo3.png" width="100px">
</div>
<div class="middle">
    <div class="info">
        <form action="login.html" method="GET">
            <p class="words">Welcome to the Alumnite App</p>
            <p class="words">Where we help you stay connected to your past, while you chase your future.</p>
            <br>
            <button>Login/Sign Up</button>
        </form>
    </div>
</div>
<div class="footer">
    <p>Website was created by Chill&Code. </p>
    <p>Email: Chill&Code294@gmail.com </p>
    <p>Fax: xxx xxx xxxx </p>
    <p>Phone: xxx xxxx ext xxxxx, xxxxx & xxxxx </p>
    <p>Authors: Chad Chung, Karsten Lange, Pryia Lackhan and Aalimah Ramai </p>
</div>


{% endblock %}
